.termsfeed-com---nb {
	overflow: auto;
	z-index: 500;
	font-size: 16px;
	border-radius: 8px;
	
}
.termsfeed-com---nb .cc-nb-main-container {
	padding: 2rem;
}

.cc-nb-main-container {
	border: 1px solid black;;
	border-radius: 8px;
}

.termsfeed-com---nb .cc-nb-title {
	font-size: 24px;
	font-weight: 600;
}
.termsfeed-com---nb .cc-nb-text {
	font-size: 16px;
	margin: 0 0 1.25rem 0;
}
.termsfeed-com---nb .cc-nb-okagree,
.termsfeed-com---nb .cc-nb-reject,
.termsfeed-com---nb .cc-nb-changep {
	font-weight: bold;
	font-size: 14px;
	margin-right: 0.25rem !important;
	margin-bottom: 0.25rem !important;
	background-color: #e5934e !important;
}
@media (max-width: 480px) {
	.termsfeed-com---nb .cc-nb-okagree,
	.termsfeed-com---nb .cc-nb-reject,
	.termsfeed-com---nb .cc-nb-changep {
		display: block;
		width: 100%;
	}
}
.termsfeed-com---nb-headline {
	
	top: auto;
	
	left: 0;
	max-width: 100%;
	position: relative;
}
@media (max-width: 320px), (max-height: 480px) {
	.termsfeed-com---nb-headline {
		overflow: auto;
		height: 200px;
		max-width: 100%;
		
		top: auto;
		
		left: auto;
		position: fixed;
	}
}
.termsfeed-com---nb-simple {
	
	top: auto;
	
	left: auto;
	max-width: 50%;
	position: fixed;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---nb-simple {
		max-width: 80%;
	}
}
@media (max-width: 320px), (max-height: 480px) {
	.termsfeed-com---nb-simple {
		overflow: auto;
		height: 200px;
		max-width: 100%;
	}
}
.termsfeed-com---nb-interstitial-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 500;
}
.termsfeed-com---nb-interstitial {
	right: 3vw;
	top: 3vh;
	left: 3vw;
	max-width: 100%;
	position: fixed;
}
@media (max-width: 320px), (max-height: 480px) {
	.termsfeed-com---nb-interstitial {
		overflow: auto;
		height: 200px;
		
		top: auto;
		
		left: auto;
		position: fixed;
	}
}
.termsfeed-com---nb-standalone {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
@media (max-width: 320px), (max-height: 480px) {
	.termsfeed-com---nb-standalone {
		overflow: auto;
		height: 200px;
		max-width: 100%;
		
		top: auto;
		
		left: auto;
		position: fixed;
	}
}
.termsfeed-com---pc-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 500;
	top: 0;
	left: 0;
	display: none;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-overlay {
		overflow-y: scroll;
	}
}
.termsfeed-com---pc-dialog {
	position: absolute;
	margin: 30px auto;
	width: 750px;
	max-width: 90%;
	height: auto;
	left: 0;
	
}
.termsfeed-com---pc-dialog > div {
	width: 100%;
}
.termsfeed-com---pc-dialog .cc-pc-container {
	width: 100%;
	display: flex;
	background: #fff;
	flex-direction: column;
}
.termsfeed-com---pc-dialog .cc-pc-head {
	background: #fff;
	color: #111;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-pc-head {
		flex-direction: column;
	}
}
.termsfeed-com---pc-dialog .cc-pc-head-title {
	display: flex;
	padding-left: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-pc-head-title {
		align-items: center;
		padding: 15px 0 0 0;
	}
}
.termsfeed-com---pc-dialog .cc-pc-head-title-text {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.termsfeed-com---pc-dialog .cc-pc-head-title-headline {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
.termsfeed-com---pc-dialog .cc-pc-head-lang {
	display: flex;
	align-items: center;
	padding-right: 15px;
	min-height: 80px;
	justify-content: center;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-pc-head-lang {
		padding: 15px 0;
		min-height: 20px;
	}
}
.termsfeed-com---pc-dialog .cc-pc-head-close {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}
.termsfeed-com---pc-dialog .cc-cp-body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: #292929;
	color: #f5f5f5;
	border-bottom: none;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-cp-body {
		flex-direction: column;
	}
}
.termsfeed-com---pc-dialog .cc-cp-body-tabs {
	font-family: Hack !important;
	width: 150px;
	margin: 0;
	padding: 0;
	background: #e6e6e6;
	min-width: 150px;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-cp-body-tabs {
		width: 100%;
	}
}
.termsfeed-com---pc-dialog .cc-cp-body-tabs-item {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	width: 100%;
	color: #666;
	background: #e6e6e6;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	transition: all ease 0.1s;
	box-sizing: content-box;
}
@media screen and (max-width: 600px) {
	.termsfeed-com---pc-dialog .cc-cp-body-tabs-item {
		border-
	}
}
.termsfeed-com---pc-dialog .cc-cp-body-tabs-item[active="true"] {
	background: #292929;
	color: #f5f5f5;
}
.termsfeed-com---pc-dialog .cc-cp-body-tabs-item-link {
	text-decoration: none;
	color: #666;
	display: block;
	padding: 10px 5px 10px 10px;
	font-weight: 700;
	font-size: 12px;
	line-height: 19px;
	position: relative;
	cursor: pointer;
	width: 100%;
	text-align: left;
	background: none;
}
.termsfeed-com---pc-dialog .cc-cp-body-content {
	background: #292929;
	color: #f5f5f5;
}
.termsfeed-com---pc-dialog .cc-cp-body-content-entry {
	width: 100%;
	display: none;
	padding: 25px;
	box-sizing: border-box;
}
.termsfeed-com---pc-dialog .cc-cp-body-content-entry[active="true"] {
	display: block;
}
.termsfeed-com---pc-dialog .cc-cp-body-content-entry-title {
	font-size: 24px;
	font-weight: 600;
}
.termsfeed-com---pc-dialog .cc-cp-body-content-entry-text {
	font-size: 16px;
	line-height: 1.5;
}
.termsfeed-com---pc-dialog .cc-cp-foot {
	background: #f2f2f2;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #ccc;
	justify-content: space-between;
}
.termsfeed-com---pc-dialog .cc-cp-foot-byline {
	padding: 20px 10px;
	font-size: 14px;
	color: #333;
	display: block !important;
}
.termsfeed-com---pc-dialog .cc-cp-foot-byline a {
	color: #999;
}
.termsfeed-com---pc-dialog .cc-cp-foot-save {
	margin-right: 10px;
	opacity: 0.9;
	transition: all ease 0.3s;
	font-size: 14px;
	font-weight: bold;
	height: auto;
}
.termsfeed-com---pc-dialog .cc-cp-foot-save:hover {
	opacity: 1;
}
.termsfeed-com---pc-dialog input[type="checkbox"].cc-custom-checkbox {
	position: absolute;
	margin: 2px 0 0 16px;
	cursor: pointer;
	appearance: none;
}
.termsfeed-com---pc-dialog input[type="checkbox"].cc-custom-checkbox + label {
	position: relative;
	padding: 4px 0 0 50px;
	line-height: 2em;
	cursor: pointer;
	display: inline;
	font-size: 14px;
}
.termsfeed-com---pc-dialog
	input[type="checkbox"].cc-custom-checkbox
	+ label:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 40px;
	height: 24px;
	border-radius: 16px;
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.termsfeed-com---pc-dialog
	input[type="checkbox"].cc-custom-checkbox
	+ label:after {
	content: "";
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	border-radius: 16px;
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.termsfeed-com---pc-dialog
	input[type="checkbox"].cc-custom-checkbox
	+ label:hover:after {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.termsfeed-com---pc-dialog
	input[type="checkbox"].cc-custom-checkbox:checked
	+ label:after {
	margin-left: 16px;
}
.termsfeed-com---pc-dialog
	input[type="checkbox"].cc-custom-checkbox:checked
	+ label:before {
	background: #55d069;
}
