<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.meverss.github.io$
RewriteRule (.*) http://meverss.github.io/$1 [R=301,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# <IfModule mod_rewrite.c>
# RewriteEngine On
# ErrorDocument 404 https://meverss.github.io/portfolio/pages/404error.html
# </IfModule>