<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.myportfolio.kiniun.tech$
RewriteRule (.*) http://myportfolio.kiniun.tech/$1 [R=301,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 https://myportfolio.kiniun.tech/pages/404error.html
</IfModule>
